body {
    background: #FFF58A;
}

.container {
    margin: 10vh 50vh;
    border: 10px solid #B3BFFF;
    width: auto;
    height: 50vh;
    display: flex;               
    background-color: #FFBBE1;
    /* justify-content: center;
    flex-direction: column; */

}

.nouns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    
}

.nouns p {
    font-size: 2rem;
}

.btn {
    background-color: #DD7BDF;
    width:auto;
    margin: 20px; }
    
    

